/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&family=Poppins:wght@400;500&display=swap");

/*=============== VARIABLES CSS ===============*/
:root {
  --header-height: 3.5rem;
  /*========== Colors ==========*/
  /*Color mode HSL(hue, saturation, lightness)*/
  --first-color: hsl(15, 60%, 52%);
  --first-color-alt: hsl(15, 68%, 40%);
  --first-gradient: linear-gradient(90deg,
                    hsl(15, 68%, 42%) 0%,
                    hsl(20, 68%, 80%) 100%);
  --second-gradient: linear-gradient(90deg,
                    hsl(20, 72%, 57%) 0%,
                    hsl(20, 78%, 80%) 100%);
  --third-gradient: linear-gradient(90deg,
                    hsl(15, 70%, 40%) 0%,
                    hsl(20, 62%, 60%) 100%);
  --title-color: hsl(0, 0%, 12%);
  --text-color: hsl(0, 0%, 50%);
  --white-color: #fff;
  --body-color: hsl(0, 0%, 96%);
  --container-color: hsl(0, 0%, 100%);

  /*========== Font and typography ==========*/
  /*.5rem = 8px | 1rem = 16px ...*/
  --body-font: "Poppins", sans-serif;
  --second-font: "Montserrat", sans-serif;
  --bigger-font-size: 2.25rem;
  --big-font-size: 1.5rem;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1rem;
  --normal-font-size: .938rem;
  --small-font-size: .813rem;
  --smaller-font-size: .75rem;

  /*========== Font weight ==========*/
  --font-regular: 400;
  --font-medium: 500;
  --font-semi-bold: 600;

  /*========== z index ==========*/
  --z-tooltip: 10;
  --z-fixed: 100;
}

/*========== Responsive typography ==========*/
@media screen and (min-width: 1152px) {
  :root {
    --bigger-font-size: 4rem;
    --big-font-size: 3.5rem;
    --h1-font-size: 2.25rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-big-font-size: 1.125rem;
    --normal-font-size: 1rem;
    --small-font-size: .875rem;
    --smaller-font-size: .813rem;
  }
}

/*=============== BASE ===============*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

input,
button,
body {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
}

body {
  background-color: var(--body-color);
  color: var(--text-color);
  transition: background .4s; /* for dark mode animation */
}

input,
button {
  border: none;
  outline: none;
}

h1, h2, h3, h4 {
  color: var(--title-color);
  font-family: var(--second-font);
  font-weight: var(--font-semi-bold);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

/*=============== THEME ===============*/


/*========== Variables Dark theme ==========*/


/*========== 
	Color changes in some parts of 
	the website, in dark theme
==========*/


/*=============== REUSABLE CSS CLASSES ===============*/
.container {
  max-width: 1120px;
  margin-inline: 1.5rem;
}

.grid {
  display: grid;
  gap: 1.5rem;
}

.section {
  padding-block: 5rem 1rem;
}

.section__title {
  font-size: var(--big-font-size);
  margin-bottom: 1.5rem;
  text-align: center;
}

.main {
  overflow: hidden; /* For animation ScrollReveal */
}

/*=============== HEADER & NAV ===============*/

.header{
  position: fixed;
  width: 100%;
  background-color: hsl(0, 0%,8%);
  top: 0;
  left: 0;
  z-index: var(--z-fixed);
  transition: background .4s;
  height: 70px;
}

.nav{
  
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items:right;
  /* height: 70px; */
  /* margin-bottom: 25%; */
}

.nav__logo{

  color: var(--white-color);
  font-family: var(--second-font);
  font-weight: var(--font-medium);
  transition: color .4s;
  /* margin-top: -50%; */
}

.nav__logo span{
  background: var(--third-gradient);
   background-clip: text;
  -webkit-background-clip:text; 
  color: transparent;
}

.nav__toggle , .nav__close{
  display: flex;
  cursor: pointer;
}

.nav__toggle{
  font-size: 1.25rem;
  color:var(--white-color);
  transition: color .4s;
}
@media screen and (min-width:1024px){
  
nav{
  /* height: 10%px; */
  font-size: 25px;
  /* margin-top: 20px; */
  display: flex;
  justify-content: space-between;
  height: 10px;
}


.nav .nav__list{
  justify-content: right;
  width: 100%;
}

.nav__menu {
color: var(--white-color);
margin-top: 1rem;
margin-right: -30%;

font-size: 20px;
}

.nav__list{
  display: flex;
flex-direction: row;
column-gap: 3rem;
  
}

.nav__menu .nav__list .nav__link{
  color: var(--white-color);
}

.nav__toggle .ri-menu-line{
  display: none;
}

.nav__close .ri-close-line{
  font-size: 0;
}

.nav .nav__logo{
  font-size: 40px;
margin-top: 25px;
}

.nav__toggle .ri-menu-line{
font-size: 40px;
margin-top: 25px;
}

}



@media screen and (max-width:1023px){

  nav{
  
    font-size: 25px;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
  }

  .nav__menu{

    position: fixed;
    left: 0;
    top: -100%;
    background-color: var(--body-color);
    width: 100%;
    padding: 4rem;
    transition: top .4s;
    box-shadow:  0 2px 16px hsla(0,0%,0%,.1);
  }

  .nav__list{
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
    text-align: center;
  }

  .nav__link{
    color: var(--text-color);
  }

  .nav__link:hover{
    background: var(--third-gradient);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
  }

  .nav__close{
    position: absolute;
    top: 1rem;
    right: 1.5rem;
    font-size: 1.5rem;
    color: var(--title-color) ;
  }
}

nav{
  height: 10px;
}





/* Navigation for mobile devices */



/* Show menu */

.show-menu{
  top: 0;
  
}


/* Change background header */


/* Active link */


/*=============== HOME ===============*/
.home{
  position: relative;

}

.home__bg{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 95%;
  background-color: hsl(0,0%,8%);
  clip-path: polygon( 0 0 , 100% 0 , 100% 100% , 0 88%);
}

.home__container{
  position: relative;
  padding-top: 2.5rem;
  row-gap: 3.5rem;
}

.home__content{
  row-gap: 3rem;
}
.home__data{
  text-align: center;
  /* justify-content: center;
  display: flex; */
}
.home__subtitle{
  background: var(--third-gradient);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  font-size: var(--normal-font-size);
  margin-bottom: .5rem;
}

.home__title{
  color: var(--white-color);
  font-size: var(--bigger-font-size);
  font-weight: var(--font-medium);
  margin-bottom: 1.5rem;

}

.home_buttons{
  display: flex;
  justify-content: center;
  column-gap: 1rem;
}

.home__info{
  display: flex;
  justify-content: center;
  column-gap: 2rem;
  text-align: center;
}

.home__info-title{
  color: var(--white-color);
  font-size: var(--h1-font-size);
  font-weight: var(--font-medium);
  margin-bottom: .5rem;
}

.home__info-title span{
  color: var(--first-color);
}

.home__info-subtitle{
  font-size: var(--small-font-size);
}

.home_blob{
  width: 250px;
  height: 320px;
  border: 6px solid transparent;
}

.home__image{
  position: relative;
  justify-content: center;
}


/*=============== BUTTON ===============*/
.home__buttons{
  display: flex;
  justify-content: center;
}
.button{
  display: inline-block;
  background: var(--third-gradient);
  padding: .75rem 1.8rem;
  border-radius: 4rem;
  color: var(--white-color);
}

.button,
.button__link{
  font-weight: var(--font-medium);


}

.button__link{
  margin-top: .75rem;
  margin-left: 2rem;
  align-items: center;
  row-gap: 2rem;
  /* column-gap: rem; */
  /* margin-left: 5rem; */
}

.home__buttons .button__link{
  color: var(--text-color);
}


@media screen and (min-width:1024px){

  .home{
    /* background-color: black; */
    display: flex;
    justify-content: center;
    align-items: center;
  
  }
  
  .home__data .home__subtitle{
    margin-top:10px;
    font-size: 30px;
  }
  
  .home__data .home__title{
    font-size: 80px;
  }
  .home__data .home__buttons{
    margin-top: 30px;
    font-size: 15px;
  }
  
  .home__part{
    display: flex;
    justify-content: space-between;
  }
  
 
  .info__block{
    display: flex;
    justify-content: space-between;
    margin-left: 25px;
    margin-bottom: 150px;
  }
  
  .home__info .home__info-title{
    font-size: 50px;
  }
  
  .home__info .home__info-subtitle{
    font-size: 20px;
  }
  
    
      
    
  }

/*=============== POPULAR ===============*/
.popular__data{
  text-align: center;
}
.popular__content{
  padding-block: 2.5rem 5rem;
}

.popular__card{
  position: relative;
  width: 200px;
  height: 322px;
  background-color: var(--container-color);
  border-radius: 9rem 9rem 0 0;
  padding: .75rem .75rem 1rem;
  margin-inline:1rem;
  transition: box-shadow .4s;
}

.popular__card:hover{
  box-shadow: 0 12px 16px hsla(0,0%,0%,.1);
}

.popular__blob{
  background-color: var(--body-color);
  height: 200px;
  border-radius: 8rem 8rem 0 0;
  margin-bottom: .75rem;
}

.popular__img{
  display: block;
  width: 120px;
  margin: 0 auto;
}

.popular__name{
  font-size: var(--normal-font-size);
  margin-bottom: .25rem;
}
.popular__subtitle{
  display: block;
  font-size: var(--smaller-font-size);
  font-family: var(--second-font);
  font-weight: var(--font-medium);
  margin-bottom: 1rem;
}

.popular__price{
  font-size: var(--h1-font-size);
}
.popular__price span{
  color: var(--first-color-alt);
}

.popular__button{
  display: inline-flex;
  padding: .25rem;
  background: var(--third-gradient);
  font-size: 1.25rem;
  color: white;
  position: absolute;
  right: .75rem;
  bottom: 1rem;
  cursor: pointer;
}
/* Swiper class */
.swiper-button-prev::after,
.swiper-button-next::after{
  content: '';
}
.swiper-button-prev,
.swiper-button-next{
  top:initial;
  bottom: .75rem;
  width: 2rem;
  height: 2rem;
  background-color: var(--container-color);
  padding: 4px;
  border-radius: 50%;
  font-size: 1.8rem;
  color: var(--first-color);
}


.swiper-button-prev{
  left:calc(50% - 3rem);
}
.swiper-button-next{
  right:calc(50% - 3rem);
}


@media screen and (min-width:1024px){

  .popular{
    display: flex;
    text-align: center;
    justify-content: center;
    width: 100%;
  }

  .popular__content{
    width: 100%;
 
  }

  .popular__data .section__title{
    font-size: 100px;
  }
  .popular__data .popular__description{
    font-size: 30px;
  }
 
  .swiper-wrapper{
    column-gap: 1.5rem;
    width: 100vh;  
  }

  

}


/*=============== CHOOSE ===============*/


/* Rotate icon */


/* Change color icon */


/* Title color change */


/*=============== FEATURES ===============*/


/*=============== PRODUCTS ===============*/


/*=============== JOIN ===============*/


/*=============== FOOTER ===============*/


/*=============== SCROLL BAR ===============*/


/*=============== SCROLL UP ===============*/


/* Show Scroll Up */


/*=============== BREAKPOINTS ===============*/
/* For small devices */


/* For medium devices */


/* For large devices */
